body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#header {
	background: #536ea7;
}

.test_square {
    display: block;
    position: relative;
    background: #003366;

    vertical-align: middle;
    text-align: center;

    color: #ffffff;
    width: 300px;
    line-height: 50px;
}