
    <button class='btn' ng-click="Facebook.login()">Connect with Facebook</button>
    <div ng-show="Facebook.getAuth()">
        <h4>Access Token:</h4>

        <p ng-bind="Facebook.getAuth().accessToken"></p>
        <button class='btn btn-small' ng-click="Facebook.logout()">Logout</button>
    </div>
    <div id='fb-root'></div>