<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="bower_components/snapjs/snap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/ml-lateralmenu/menu.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/toastr/toastr.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/docs/assets/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-carousel/dist/angular-carousel.min.css"/>


    <!-- endbuild -->
</head>
<body ng-app="pitApp" ng-controller="MainCtrl">

<!--[if lt IE 7]>
<p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser
    today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better
    experience this site.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<menu data-content="content" data-close-button="open-left"></menu>

<div id="content" class="snap-content">
    <div id="header">
        <a id="open-left"></a>
        <ul class="breadcrumb">
            <li ng-repeat="state in $state.$current.path">
                <a href="#{{state.url.format($stateParams)}}">{{state.name}}</a>
                <span ng-hide="$last" class="divider">/</span>
            </li>
        </ul>

    </div>
    <div ui-view id="main-content">

    </div>
</div>

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="bower_components/angular/angular.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>

<!-- endbuild -->

<!-- build:js scripts/modules.js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/snapjs/snap.js"></script>
<script src="bower_components/toastr/toastr.js"></script>

<script src="bower_components/ml-lateralmenu/menu.js"></script>

<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/invite.js"></script>
<script src="tour/tour.js"></script>
<script src="carousel/carousel.js"></script>

<script src="fblogin/fblogin-controller.js"></script>


<!--<script src="bower_components/angular-carousel/"></script>-->
<script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>

<!-- endbuild -->

</body>
</html>
