<label class="checkbox"><input type="checkbox" id="chkName" value="name">Name</label>
<label class="checkbox"><input type="checkbox" id="chkSurname" value="surname">Surname</label>

<input type="text" ng-model="search.$">
<table>
	<tr ng-repeat="person in persons | filter:search">
		<td>{{person.name}}</td>
		<td>{{person.surname}}</td>
	</tr>
</table>
			