
<carousel pages='custom/screens/tour1.html,custom/screens/tour2.html,custom/screens/tour3.html'></carousel>

<!--<div ng-include src="fblogin/fblogin-partial.html">sds</div>-->

<button class='btn' ng-click="Facebook.login()">Connect</button>
<div ng-show="Facebook.getAuth()">
    <h4>Access Token:</h4>

    <p ng-bind="Facebook.getAuth().accessToken"></p>
    <button class='btn btn-small' ng-click="Facebook.logout()">Logout</button>
</div>
<div id='fb-root'></div>

<!--
<fb:login-button width="200" max-rows="1"></fb:login-button>-->
